adafruit-circuitpython-sht31d
chardet
cryptography
gpiozero
matplotlib
mysql-connector-python
netifaces
numpy
pandas
poetry
pytest
pytest-xdist
pyyaml
scikit-fuzzy
scikit-learn
scipy
tsfresh
zeroconf
